.grid_16.ui-accordion-header.ui-state-default
  %h3.ui-helper-reset
    Link:
    = @resource.name
.clear
- unless @resource.new_record?
  .grid_16.ui-widget-header.ui-border-sides.ui-button-bar
    .float-left
      = link_to 'Delete...', admin_singular_path(@resource), :confirm => "Are you sure you want to delete #{@resource.name}?", :method => :delete, :class => 'ui-button icon-destroy'
  .clear
.grid_16.ui-widget-content.ui-corner-bottom
  = form_for(@resource, :url => admin_singular_path(@resource), :html => {:multipart => true}) do |f|
    .field
      %label Name:
      = f.text_field :name, :class => 'string'
    .field
      %label URL:
      = f.text_field :url, :class => 'string'
    .field
      %label Comment:
      = f.text_area :body, :class => 'medium'
    .field.thumbnail
      %label Image:
      - unless @resource.image_file_size.nil?
        = image_tag @resource.image.url(:thumb), :style => 'overflow:hidden'
      - else
        .thumbnail-placeholder
          &nbsp;
      = f.file_field :image
      %br
      .clear
    = render 'admin/extish_rickets/footer', :resource => @resource
