.grid_16.ui-accordion-header.ui-state-default
  %h3.ui-helper-reset
    = link_to 'News Items', admin_news_items_path
    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    = link_to 'News Categories', admin_news_categories_path
.clear
- unless @resource.new_record?
  .grid_16.ui-widget-header.ui-border-sides.ui-button-bar
    .float-left
      = link_to 'Delete...', admin_singular_path(@resource), :confirm => "Are you sure you want to delete #{@resource.name}?", :method => :delete, :class => 'ui-button icon-destroy'
  .clear
.grid_16.ui-widget-content.ui-corner-bottom
  = form_for(@resource, :url => admin_singular_path(@resource)) do |f|
    .field
      %label Name:
      = f.text_field :name, :class => 'string'
    .field
      %label News Items:
      .panel
        .field
          %label Add News Item:
          = text_field_tag 'links_title', '', :class => 'string'
          %label &nbsp;
          %ul.select-box
            - NewsItem.unscoped.all.each do |item|
              %li{:onclick => "Rickets.insertContainedItem('ul#news-items', this);", :itemid => item.id, :itemtype => item.class.table_name}
                = item.name
        .clear
        %ul#news-items.sortable
          - @resource.pending_news_items.each do |item|
            %li.ui-corner.full
              %div
                = item.name
                = hidden_field_tag 'contained_items[]', item.id
                %button.small-inline.ui-corner-all{:type => 'button', :onclick => '$(this.parentNode.parentNode).remove()'} x
        :javascript
          $('ul.sortable').sortable();
    .clear
    = render 'admin/extish_rickets/footer', :resource => @resource
