.grid_16.ui-accordion-header.ui-state-default
  %h3.ui-helper-reset
    = link_to 'News Items', admin_news_items_path
    &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
    = link_to 'News Categories', admin_news_categories_path
.clear
.grid_16.ui-widget-header.ui-border-sides.ui-button-bar
  .float-left
    = link_to 'New...', admin_singular_path(@new_resource), :class => 'ui-button icon-new'
    .separator
  .float-right.ui-search
    %form{:method => "get", :action => ""}
      %input.ui-state-default.ui-corner-right.ui-silver{:type => "submit", :name => 'submit', :value => 'Search'}
      %input.ui-corner-left{:type => "text", :name => "search",  :class => "autocomplete", :autocomplete => "off", :value => (params[:search] || "")}
.clear
.grid_16.ui-widget-header.ui-border-sides
  %table.ui-resources
    %thead
      %tr
        %th
          = rickets_header "name", "Name"
        %th
          Workflow
        %th
          = rickets_header "updated_at", "Updated At"
    %tbody#datagrid_tbody
      -@resources.each do |resource|
        %tr{:onclick => "Rickets.showRow(this);", :id => admin_singular_path(resource)}
          %td
            = link_to h(resource.name), admin_singular_path(resource)
          %td
            =h resource.is_published? ? 'published' : 'pending'
          %td
            =date_format resource.updated_at
.grid_16.ui-widget-header.ui-corner-bottom
  .pagination_info.ui-helper-reset
    = raw(page_entries_info @resources)
  = will_paginate @resources, :previous_label => "<span class='prev'>&nbsp;&nbsp;&nbsp;&nbsp;</span>", :next_label => "<span class='next'>&nbsp;&nbsp;&nbsp;&nbsp;</span>"
