#main.grid_12
  #navigation.grid_3
    = render :partial => "layouts/top_level_navigation", :locals => {:page => Page.where(:name => "Home Page").first}
  #content.grid_9
    .home-page
      = raw @resource.body
    %h1
      IPAC News
    - @ipac_news.each do |news|
      .info-bubble
        %h5
          = link_to news.name, news
        .thumbnail-image-container
          = link_to (image_tag news.image.url(:thumb)), news
        %p.date
          = news.release_date.strftime("%A, %B #{news.release_date.day.ordinalize}, %Y")
        %p
          %span.category
            = news.news_categories.first.name
          %span.bullet
            &bull;
          %span.id
            = news.catalog_id
        %p.abstract
          = news.abstract.slice!(0..256)
          = link_to "More", news, :class => "more"
    .clear
    %h1
      Project Headlines
    - @project_rss_news_resources.each do |resource|
      .headlines
        %h5
          = link_to resource.title, resource.link
        %p
          %span.category
            = resource.project
          %span.bullet
            &bull;
          %span.date
            = resource.date.strftime("%A, %B #{resource.date.day.ordinalize}, %Y")
        %p.abstract
          = resource.description
          = link_to "More", resource.link, :class => "more"
    .clear
    %h1
      Featured Images
    - @featured_images_resources.each do |resource|
      .info-bubble
        %h5
          = link_to resource.title, resource.link
        - if resource.thumbnail.nil?
          .thumbnail-image-container
            = link_to (image_tag resource.image), resource.link
        -else
          .thumbnail-image-container
            = link_to (image_tag resource.thumbnail), resource.link
        %p.date
          = resource.date.strftime("%A, %B #{resource.date.day.ordinalize}, %Y")
        %p
          %span.category
            = resource.category
          - unless resource.guid.nil?
            %span.bullet
              &bull;
            %span.id
              = resource.guid
        %p.abstract
          = resource.description.slice!(0..256)
          = link_to "More", resource.link, :class => "more"
    .clear
    /
      %h1
        Gallery
      - @gallery_resources.each do |resource|
        .info-bubble
          %h5
            = link_to resource.title, resource.link
          - if resource.thumbnail.nil?
            .thumbnail-image-container
              = link_to (image_tag resource.image), resource.link
          -else
            .thumbnail-image-container
              = link_to (image_tag resource.thumbnail), resource.link
          %p.date
            = resource.date.strftime("%A, %B #{resource.date.day.ordinalize}, %Y")
          %p
            %span.category
              = resource.category
            - unless resource.guid.nil?
              %span.bullet
                &bull;
              %span.id
                = resource.guid
          %p.abstract
            = resource.description.slice!(0..256)
            = link_to "More", resource.link, :class => "more"
      %h1
        Project Mrss News
      - @project_mrss_news_resources.each do |resource|
        .info-bubble
          %h5
            = link_to resource.title, resource.link
          - if resource.thumbnail.nil?
            .thumbnail-image-container
              = link_to (image_tag resource.image), resource.link
          -else
            .thumbnail-image-container
              = link_to (image_tag resource.thumbnail), resource.link
          %p.date
            = resource.date.strftime("%A, %B #{resource.date.day.ordinalize}, %Y")
          %p
            %span.category
              = resource.category
            - unless resource.guid.nil?
              %span.bullet
                &bull;
              %span.id
                = resource.guid
          %p.abstract
            = resource.description.slice!(0..256)
            = link_to "More", resource.link, :class => "more"
      .clear
