!!! Strict

%html
  %head
    %meta{"http-equiv".to_sym => "Content-Type", :content => "text/html; charset=utf-8"}
    %title
      Aqua Public Relations Group
    = stylesheet_link_tag 'reset'
    = stylesheet_link_tag 'text'
    = stylesheet_link_tag 'grid'
    = stylesheet_link_tag 'main'
    = stylesheet_link_tag '../jquery-ui/css/custom-theme/jquery-ui-1.8.5.custom.css'
    = javascript_include_tag '../jquery-ui/js/jquery-1.4.2.min.js'
    = javascript_include_tag '../jquery-ui/js/jquery-ui-1.8.5.custom.min.js'
    = csrf_meta_tag
  %body
    .container_12
      %ul.top-nav
        %li
          = link_to "HOME", root_path, :class => "ui-state-default ui-corner-bottom"
        - if Page.home_page
          - Page.home_page.children.each do |page|
            %li
              = link_to page.name.upcase, page_path(page), :class => "ui-state-default ui-corner-bottom#{@resource == page ? ' selected' : ''}"
    .container_12
      = image_tag 'aquacommunications.png', :class => 'leaderboard'
    .container_12
      .grid_9
        BIGIMAGEHERE
      .grid_3.latest
        %h3.ui-widget-header
          LATEST
        - Link.latest.each do |link|
          .blurb
            - unless link.image_file_size.nil?
              = link_to image_tag(link.image.url(:thumb)), link.url
            = link_to link.name, link.url
            %span.date
              = date_format link.created_at
            = link.body
    .clear.hr
    .container_12
      .grid_4
        .feature
          = link_to "Feature 1", '#'
          %p
            Copy, a small paragraph, regarding the feature.
      .grid_4
        .feature
          = link_to "Feature 2", '#'
          %p
            Copy, a small paragraph, regarding the feature.
      .grid_4
        .feature
          = link_to "Feature 3", '#'
          %p
            Copy, a small paragraph, regarding the feature.
    .clear.hr
    .container_12.footer
      %p
        Copyright 2010 Aqua Communication, LLC
        %br
        507 State St, B, Portsmouth, NH 03801&nbsp;&nbsp;603 334 3434
